body
	max-width 100%
	background-color #dcdcdc
	
	.contentBox
		box-shadow 0px 0px 10px 5px rgba(175,175,175,0.5)
		border-radius 10px
		min-height 80vh
		width calc(90% - 40px)
		background-color white
		margin auto
		margin-top 5%
		padding 20px
		header
			height 100px
			border-bottom 2px solid black
			.menu
				visibility hidden
	.footer
		width 90%
		margin auto
		text-align center

// @media only screen and (min-width 769px)

// @media only screen and (min-width 1024px)

// @media only screen and (orientation: landscape)

