doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content=meta.description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Coustard:900" rel="stylesheet")
    block titleAndKeywords
      title=activePage.title
      meta(name="keywords", content=meta.keywords)
    style 
      include ../../dist/css/style.css
    script
      include ../../dist/js/jquery-2.2.4.min.js
      include ../../dist/js/bundle.js
  body
    div.layout
      div.contentBox
        div.container
          header
            include includes/header.pug
          block contentBox
      div.footer
        include includes/footer.pug

        
