div.logo
	img(src="img/logo.png")
div#hamburger(onclick="script.nav.showMenu(this);")
	span
	span
	span
	span
div.menu
	each page in pages
		div
			if page.name == activePage.name
				a.active-page(href=page.url)= page.name
			else
				a(href=page.url)= page.name
