.menu
		height 0px
		padding-top 50px
		overflow hidden
		border-bottom 1px solid grey
		padding-bottom 10px
		z-index -1
		width 100%
		background-color white
		position absolute
		visibility hidden
		-webkit-transition .35s ease-in-out
		-moz-transition .35s ease-in-out
		-o-transition .35s ease-in-out
		transition .35s ease-in-out
		div
			display inline-block
			width 100%
			text-align center
			padding-top 12px
			padding-bottom 4px
			a
				font-size 0.8em
				font-weight bold
				text-decoration none
				text-transform uppercase
				color #838383
				padding inherit
			a:hover
				color #f20102
			a.active-page
				border-bottom 4px solid red
				color black
	.menu.visible
		visibility visible
		height 240px

@media only screen and (min-width 750px)
	.menu
		padding-top 70px
	.menu.visible
		height 250px
		
@media only screen and (min-width 1024px)
	.menu
		visibility visible
		height auto
		border none
		background-color none
		width calc(100% - 320px)
		padding-top 0px
		div
			width auto
			a
				margin-left 15px
				font-size 0.7em
		div:nth-child(1)
			margin-left 30px
				
@media only screen and (min-width 1440px)
	.menu
		div
			a
				font-size 0.8em
				margin-left 25px
		div:nth-child(1)
			margin-left 50px